In [1]:
import pandas as pd

In [2]:
# Read csv
expenditures_df = pd.read_csv("../Resources/Health Care Expenditures per Capita by State of Residence raw_data.csv")
expenditures_df.head()

,Title: Health Care Expenditures per Capita by State of Residence | KFF,Unnamed: 1
0,Timeframe: 2019,NaN
1,Location,Health Spending per Capita
2,United States,"$9,671"
3,Alabama,"$8,741"
4,Alaska,"$13,226"

In [3]:
# Rename Columns
expenditures_df = expenditures_df.rename(columns={"Title: Health Care Expenditures per Capita by State of Residence | KFF"\
                                                 :"State","Unnamed: 1":"Health Spending per Capita"})
expenditures_df

,State,Health Spending per Capita
0,Timeframe: 2019,NaN
1,Location,Health Spending per Capita
2,United States,"$9,671"
3,Alabama,"$8,741"
4,Alaska,"$13,226"
...,...,...
62,Sources,NaN
63,"Centers for Medicare & Medicaid Services, Offi...",NaN
64,NaN,NaN
65,Definitions,NaN
66,*Health Spending Per Capita* includes spending...,NaN

In [4]:
# Drop unnecessary rows
expenditures_df = expenditures_df.drop(labels=[0,1,2,11])
expenditures_df = expenditures_df.iloc[:50]
expenditures_df

             State Health Spending per Capita
3          Alabama                    $8,741
4           Alaska                   $13,226
5          Arizona                    $8,145
6         Arkansas                    $8,853
7       California                    $9,628
8         Colorado                    $8,286
9      Connecticut                   $11,831
10        Delaware                   $12,213
12         Florida                    $9,490
13         Georgia                    $8,243
14          Hawaii                    $9,555
15           Idaho                    $7,723
16        Illinois                    $9,496
17         Indiana                    $9,927
18            Iowa                    $9,193
19          Kansas                    $8,745
20        Kentucky                    $9,744
21       Louisiana                    $9,657
22           Maine                   $11,488
23        Maryland                   $10,248
24   Massachusetts                   $12,729
25        Michigan                    $9,532
26       Minnesota                   $10,510
27     Mississippi                    $8,745
28        Missouri                    $9,431
29         Montana                    $9,808
30        Nebraska                    $9,917
31          Nevada                    $8,114
32   New Hampshire                   $11,310
33      New Jersey                   $11,264
34      New Mexico                    $8,459
35        New York                   $12,932
36  North Carolina                    $8,619
37    North Dakota                   $10,653
38            Ohio                   $10,173
39        Oklahoma                    $8,923
40          Oregon                    $9,635
41    Pennsylvania                   $11,175
42    Rhode Island                   $10,988
43  South Carolina                    $8,345
44    South Dakota                   $11,627
45       Tennessee                    $8,827
46           Texas                    $8,028
47            Utah                    $7,193
48         Vermont                   $12,159
49        Virginia                    $8,826
50      Washington                    $8,964
51   West Virginia                   $11,951
52       Wisconsin                    $9,652
53         Wyoming                   $10,111

In [5]:
# Reset index
expenditures_df = expenditures_df.reset_index(drop=True)
expenditures_df

             State Health Spending per Capita
0          Alabama                    $8,741
1           Alaska                   $13,226
2          Arizona                    $8,145
3         Arkansas                    $8,853
4       California                    $9,628
5         Colorado                    $8,286
6      Connecticut                   $11,831
7         Delaware                   $12,213
8          Florida                    $9,490
9          Georgia                    $8,243
10          Hawaii                    $9,555
11           Idaho                    $7,723
12        Illinois                    $9,496
13         Indiana                    $9,927
14            Iowa                    $9,193
15          Kansas                    $8,745
16        Kentucky                    $9,744
17       Louisiana                    $9,657
18           Maine                   $11,488
19        Maryland                   $10,248
20   Massachusetts                   $12,729
21        Michigan                    $9,532
22       Minnesota                   $10,510
23     Mississippi                    $8,745
24        Missouri                    $9,431
25         Montana                    $9,808
26        Nebraska                    $9,917
27          Nevada                    $8,114
28   New Hampshire                   $11,310
29      New Jersey                   $11,264
30      New Mexico                    $8,459
31        New York                   $12,932
32  North Carolina                    $8,619
33    North Dakota                   $10,653
34            Ohio                   $10,173
35        Oklahoma                    $8,923
36          Oregon                    $9,635
37    Pennsylvania                   $11,175
38    Rhode Island                   $10,988
39  South Carolina                    $8,345
40    South Dakota                   $11,627
41       Tennessee                    $8,827
42           Texas                    $8,028
43            Utah                    $7,193
44         Vermont                   $12,159
45        Virginia                    $8,826
46      Washington                    $8,964
47   West Virginia                   $11,951
48       Wisconsin                    $9,652
49         Wyoming                   $10,111