In [1]:
import pandas as pd

In [2]:
heart_df = pd.read_csv("../Resources/Heart Disease Mortality by State data-table.csv")
heart_df.head()

   YEAR STATE   RATE DEATHS                                       URL
0  2020    AL  237.5  14739     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  139.8    915      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  144.8  14196     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  222.5   8621    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  144.0  66538  /nchs/pressroom/states/california/ca.htm