In [1]:
import pandas as pd

In [2]:
# Read csv
heart_df = pd.read_csv("../Resources/Heart Disease Mortality by State data-table.csv")
heart_df.head()

   YEAR STATE   RATE DEATHS                                       URL
0  2020    AL  237.5  14739     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  139.8    915      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  144.8  14196     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  222.5   8621    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  144.0  66538  /nchs/pressroom/states/california/ca.htm

In [3]:
# Drop unnecessary columns
heart_df = heart_df.drop(columns="URL")
heart_df.head()

   YEAR STATE   RATE DEATHS
0  2020    AL  237.5  14739
1  2020    AK  139.8    915
2  2020    AZ  144.8  14196
3  2020    AR  222.5   8621
4  2020    CA  144.0  66538

In [4]:
# Rename columns
heart_df = heart_df.rename(columns = {"YEAR":"Year","STATE":"State","RATE":"Rate (per 100,000)","DEATHS":"Deaths"})
heart_df.head()

   Year State  Rate (per 100,000) Deaths
0  2020    AL               237.5  14739
1  2020    AK               139.8    915
2  2020    AZ               144.8  14196
3  2020    AR               222.5   8621
4  2020    CA               144.0  66538

In [5]:
# Filter for year 2019
year = [2019]

for year in year:
    heart_df = heart_df.loc[heart_df["Year"] == year, :]
heart_df

    Year State  Rate (per 100,000) Deaths
50  2019    AL               219.6  13448
51  2019    AK               129.7    843
52  2019    AZ               134.0  12587
53  2019    AR               226.5   8669
54  2019    CA               136.9  62394
55  2019    CO               127.7   7762
56  2019    CT               143.1   7354
57  2019    DE               154.3   2053
58  2019    FL               140.1  47144
59  2019    GA               175.5  19543
60  2019    HI               120.3   2503
61  2019    ID               150.7   3061
62  2019    IL               162.0  25690
63  2019    IN               178.8  14555
64  2019    IA               172.9   7505
65  2019    KS               166.0   6140
66  2019    KY               196.4  10742
67  2019    LA               207.8  11302
68  2019    ME               142.4   2940
69  2019    MD               159.3  11770
70  2019    MA               127.2  11761
71  2019    MI               193.8  25547
72  2019    MN               116.7   8401
73  2019    MS               226.7   7997
74  2019    MO               187.0  15018
75  2019    MT               157.1   2290
76  2019    NE               144.9   3540
77  2019    NV               198.1   6864
78  2019    NH               143.4   2707
79  2019    NJ               158.0  18716
80  2019    NM               158.2   4245
81  2019    NY               166.6  43806
82  2019    NC               154.7  19617
83  2019    ND               147.7   1448
84  2019    OH               188.8  29160
85  2019    OK               231.4  10960
86  2019    OR               131.0   7128
87  2019    PA               172.9  32299
88  2019    RI               159.3   2404
89  2019    SC               164.0  10579
90  2019    SD               158.1   1840
91  2019    TN               202.8  16814
92  2019    TX               163.4  46139
93  2019    UT               146.5   3882
94  2019    VT               151.6   1368
95  2019    VA               149.1  15062
96  2019    WA               134.8  11862
97  2019    WV               197.4   5087
98  2019    WI               158.8  12241
99  2019    WY               150.4   1067

In [6]:
# Reset index
heart_df = heart_df.reset_index(drop = True)
heart_df

    Year State  Rate (per 100,000) Deaths
0   2019    AL               219.6  13448
1   2019    AK               129.7    843
2   2019    AZ               134.0  12587
3   2019    AR               226.5   8669
4   2019    CA               136.9  62394
5   2019    CO               127.7   7762
6   2019    CT               143.1   7354
7   2019    DE               154.3   2053
8   2019    FL               140.1  47144
9   2019    GA               175.5  19543
10  2019    HI               120.3   2503
11  2019    ID               150.7   3061
12  2019    IL               162.0  25690
13  2019    IN               178.8  14555
14  2019    IA               172.9   7505
15  2019    KS               166.0   6140
16  2019    KY               196.4  10742
17  2019    LA               207.8  11302
18  2019    ME               142.4   2940
19  2019    MD               159.3  11770
20  2019    MA               127.2  11761
21  2019    MI               193.8  25547
22  2019    MN               116.7   8401
23  2019    MS               226.7   7997
24  2019    MO               187.0  15018
25  2019    MT               157.1   2290
26  2019    NE               144.9   3540
27  2019    NV               198.1   6864
28  2019    NH               143.4   2707
29  2019    NJ               158.0  18716
30  2019    NM               158.2   4245
31  2019    NY               166.6  43806
32  2019    NC               154.7  19617
33  2019    ND               147.7   1448
34  2019    OH               188.8  29160
35  2019    OK               231.4  10960
36  2019    OR               131.0   7128
37  2019    PA               172.9  32299
38  2019    RI               159.3   2404
39  2019    SC               164.0  10579
40  2019    SD               158.1   1840
41  2019    TN               202.8  16814
42  2019    TX               163.4  46139
43  2019    UT               146.5   3882
44  2019    VT               151.6   1368
45  2019    VA               149.1  15062
46  2019    WA               134.8  11862
47  2019    WV               197.4   5087
48  2019    WI               158.8  12241
49  2019    WY               150.4   1067

In [7]:
# Creating a Dictionary of States Abbreviation to State name
states_long = {
    "AL" : "Alabama",
    "AK" : "Alaska",
    "AZ" : "Arizona",
    "AR" : "Arkansas",
    "CA" : "California",
    "CO" : "Colorado",
    "CT" : "Connecticut",
    "DE" : "Delaware",
    "FL" : "Florida" ,
    "GA" : "Georgia",
    "HI" : "Hawaii",
    "ID" : "Idaho",
    "IL" : "Illinois",
    "IN" : "Indiana",
    "IA" : "Iowa",
    "KS" : "Kansas",
    "KY" : "Kentucky",
    "LA" : "Louisiana",
    "ME" : "Maine",
    "MD" : "Maryland",
    "MA" : "Massachusetts",
    "MI" : "Michigan",
    "MN" : "Minnesota",
    "MS" : "Mississippi",
    "MO" : "Missouri",
    "MT" : "Montana",
    "NE" : "Nebraska",
    "NV" : "Nevada",
    "NH" : "New Hampshire",
    "NJ" : "New Jersey",
    "NM" : "New Mexico",
    "NY" : "New York",
    "NC" : "North Carolina",
    "ND" : "North Dakota",
    "OH" : "Ohio",
    "OK" : "Oklahoma",
    "OR" : "Oregon",
    "PA" : "Pennsylvania",
    "RI" : "Rhode Island",
    "SC" : "South Carolina",
    "SD" : "South Dakota",
    "TN" : "Tennessee",
    "TX" : "Texas",
    "UT" : "Utah",
    "VT" : "Vermont",
    "VA" : "Virginia",
    "WA" : "Washington",
    "WV" : "West Virginia",
    "WI" : "Wisconsin",
    "WY" : "Wyoming",
    "DC" : "District of Columbia",
    "AS" : "American Samoa",
    "GU" : "Guam",
    "MP" : "Northern Mariana Islands",
    "PR" : "Puerto Rico",
    "UM" : "United States Minor Outlying Islands",
    "VI" : "U.S. Virgin Islands",
}

# Using .replace to replace State Abbreviation with State Name from the dictionary
heart_df['State'] = heart_df['State'].replace(states_long)

heart_df

    Year           State  Rate (per 100,000) Deaths
0   2019         Alabama               219.6  13448
1   2019          Alaska               129.7    843
2   2019         Arizona               134.0  12587
3   2019        Arkansas               226.5   8669
4   2019      California               136.9  62394
5   2019        Colorado               127.7   7762
6   2019     Connecticut               143.1   7354
7   2019        Delaware               154.3   2053
8   2019         Florida               140.1  47144
9   2019         Georgia               175.5  19543
10  2019          Hawaii               120.3   2503
11  2019           Idaho               150.7   3061
12  2019        Illinois               162.0  25690
13  2019         Indiana               178.8  14555
14  2019            Iowa               172.9   7505
15  2019          Kansas               166.0   6140
16  2019        Kentucky               196.4  10742
17  2019       Louisiana               207.8  11302
18  2019           Maine               142.4   2940
19  2019        Maryland               159.3  11770
20  2019   Massachusetts               127.2  11761
21  2019        Michigan               193.8  25547
22  2019       Minnesota               116.7   8401
23  2019     Mississippi               226.7   7997
24  2019        Missouri               187.0  15018
25  2019         Montana               157.1   2290
26  2019        Nebraska               144.9   3540
27  2019          Nevada               198.1   6864
28  2019   New Hampshire               143.4   2707
29  2019      New Jersey               158.0  18716
30  2019      New Mexico               158.2   4245
31  2019        New York               166.6  43806
32  2019  North Carolina               154.7  19617
33  2019    North Dakota               147.7   1448
34  2019            Ohio               188.8  29160
35  2019        Oklahoma               231.4  10960
36  2019          Oregon               131.0   7128
37  2019    Pennsylvania               172.9  32299
38  2019    Rhode Island               159.3   2404
39  2019  South Carolina               164.0  10579
40  2019    South Dakota               158.1   1840
41  2019       Tennessee               202.8  16814
42  2019           Texas               163.4  46139
43  2019            Utah               146.5   3882
44  2019         Vermont               151.6   1368
45  2019        Virginia               149.1  15062
46  2019      Washington               134.8  11862
47  2019   West Virginia               197.4   5087
48  2019       Wisconsin               158.8  12241
49  2019         Wyoming               150.4   1067