In [1]:
import pandas as pd
from decimal import Decimal

In [2]:
# Import csv and display dataframe
insurance_df = pd.read_csv("../Resources/Health Insurance Coverage of the Total Population raw_data.csv")
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN

In [3]:
# Print column names
insurance_df.columns

Index(['Title: Health Insurance Coverage of the Total Population | KFF',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [4]:
# Drop unnecessary rows
insurance_df = insurance_df.iloc[:54]
insurance_df

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
5,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
6,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN
7,California,0.48,0.066,0.253,0.114,0.009,0.078,1,NaN
8,Colorado,0.534,0.069,0.168,0.128,0.023,0.078,1,NaN
9,Connecticut,0.529,0.048,0.215,0.141,0.007,0.059,1,NaN
10,Delaware,0.497,0.041,0.204,0.173,0.018,0.066,1,NaN
11,District of Columbia,0.549,0.065,0.255,0.082,0.013,0.036,1,NaN
12,Florida,0.403,0.095,0.174,0.18,0.017,0.131,1,NaN
13,Georgia,0.489,0.056,0.173,0.126,0.022,0.134,1,NaN
14,Hawaii,0.543,0.041,0.176,0.159,0.04,0.041,1,NaN
15,Idaho,0.49,0.086,0.156,0.15,0.014,0.105,1,NaN
16,Illinois,0.546,0.052,0.182,0.141,0.007,0.073,1,NaN
17,Indiana,0.533,0.044,0.177,0.148,0.01,0.088,1,NaN
18,Iowa,0.544,0.049,0.195,0.156,0.009,0.047,1,NaN
19,Kansas,0.543,0.056,0.139,0.15,0.02,0.092,1,NaN
20,Kentucky,0.47,0.039,0.255,0.158,0.014,0.064,1,NaN
21,Louisiana,0.418,0.049,0.293,0.137,0.014,0.089,1,NaN
22,Maine,0.465,0.057,0.2,0.183,0.015,0.081,1,NaN
23,Maryland,0.547,0.054,0.187,0.133,0.019,0.059,1,NaN
24,Massachusetts,0.559,0.054,0.221,0.131,0.005,0.03,1,NaN
25,Michigan,0.509,0.052,0.217,0.159,0.006,0.058,1,NaN
26,Minnesota,0.578,0.052,0.169,0.147,0.007,0.048,1,NaN
27,Mississippi,0.422,0.047,0.242,0.142,0.018,0.129,1,NaN
28,Missouri,0.52,0.057,0.144,0.164,0.013,0.101,1,NaN
29,Montana,0.43,0.08,0.208,0.181,0.018,0.083,1,NaN
30,Nebraska,0.568,0.069,0.126,0.142,0.016,0.079,1,NaN
31,Nevada,0.495,0.055,0.178,0.14,0.017,0.115,1,NaN
32,New Hampshire,0.562,0.053,0.132,0.177,0.012,0.064,1,NaN
33,New Jersey,0.557,0.054,0.166,0.138,0.005,0.079,1,NaN
34,New Mexico,0.366,0.04,0.327,0.15,0.018,0.098,1,NaN
35,New York,0.498,0.058,0.257,0.13,0.004,0.053,1,NaN
36,North Carolina,0.463,0.067,0.179,0.153,0.024,0.114,1,NaN
37,North Dakota,0.557,0.09,0.122,0.138,0.021,0.074,1,NaN
38,Ohio,0.526,0.04,0.2,0.159,0.008,0.067,1,NaN
39,Oklahoma,0.455,0.055,0.17,0.151,0.02,0.149,1,NaN
40,Oregon,0.493,0.057,0.208,0.162,0.009,0.071,1,NaN
41,Pennsylvania,0.518,0.051,0.202,0.163,0.008,0.057,1,NaN
42,Rhode Island,0.54,0.059,0.205,0.146,0.008,0.043,1,NaN
43,South Carolina,0.454,0.061,0.188,0.168,0.022,0.108,1,NaN
44,South Dakota,0.515,0.083,0.128,0.161,0.018,0.096,1,NaN
45,Tennessee,0.478,0.056,0.195,0.15,0.018,0.102,1,NaN
46,Texas,0.476,0.057,0.159,0.109,0.016,0.184,1,NaN
47,Utah,0.605,0.093,0.093,0.1,0.012,0.096,1,NaN
48,Vermont,0.484,0.048,0.239,0.175,0.01,0.044,1,NaN
49,Virginia,0.541,0.052,0.135,0.148,0.044,0.08,1,NaN
50,Washington,0.529,0.05,0.198,0.139,0.018,0.066,1,NaN
51,West Virginia,0.44,0.025,0.266,0.19,0.013,0.066,1,NaN
52,Wisconsin,0.565,0.053,0.161,0.155,0.008,0.058,1,NaN
53,Wyoming,0.511,0.071,0.115,0.162,0.018,0.123,1,NaN

In [5]:
# Drop more unnecessary rows and reset index
insurance_df = insurance_df.drop(labels=[0,1,2,11])
insurance_df = insurance_df.reset_index(drop=True)
insurance_df.head()

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
1,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
2,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
3,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN
4,California,0.48,0.066,0.253,0.114,0.009,0.078,1,NaN

In [6]:
#Rename columns to be used later
insurance_df = insurance_df.rename(columns={"Title: Health Insurance Coverage of the Total Population | KFF":"State",
                                            "Unnamed: 1":"Employer (%)",
                                            "Unnamed: 2":"Non-Group (%)",
                                            "Unnamed: 3":"Medicaid (%)",
                                            "Unnamed: 4":"Medicare (%)",
                                            "Unnamed: 5":"Military (%)",
                                            "Unnamed: 6":"Uninsured (%)"})
insurance_df.head()

,State,Employer (%),Non-Group (%),Medicaid (%),Medicare (%),Military (%),Uninsured (%),Unnamed: 7,Unnamed: 8
0,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
1,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
2,Arizona,0.451,0.052,0.21,0.161,0.015,0.111,1,NaN
3,Arkansas,0.42,0.054,0.262,0.159,0.014,0.091,1,NaN
4,California,0.48,0.066,0.253,0.114,0.009,0.078,1,NaN

In [7]:
# Create lists
states = []
employer = []
nongrp = []
medicaid = []
medicare = []
military = []
uninsured = []
insured = []


for index, row in insurance_df.iterrows():
    state = insurance_df.loc[index, "State"]
    uninsured_dec = insurance_df.loc[index, "Uninsured (%)"]
    employer_dec = insurance_df.loc[index, "Employer (%)"]
    nongrp_dec = insurance_df.loc[index, "Non-Group (%)"]
    medicaid_dec = insurance_df.loc[index, "Medicaid (%)"]
    medicare_dec = insurance_df.loc[index, "Medicare (%)"]
    military_dec = insurance_df.loc[index, "Military (%)"]
    uninsured_per = (Decimal(uninsured_dec) * Decimal(100))
    employer_per = (Decimal(employer_dec)*Decimal(100))
    nongrp_per = (Decimal(nongrp_dec)*Decimal(100))
    medicaid_per = (Decimal(medicaid_dec)*Decimal(100))
    medicare_per = (Decimal(medicare_dec)*Decimal(100))
    military_per = (Decimal(military_dec)*Decimal(100))
    percent = (Decimal(100) - Decimal(uninsured_per))
    states.append(state)
    employer.append(float(employer_per))
    nongrp.append(float(nongrp_per))
    medicaid.append(float(medicaid_per))
    medicare.append(float(medicare_per))
    military.append(float(military_per))
    uninsured.append(float(uninsured_per))
    insured.append(float(percent))

In [8]:
# Create new dataframe
insurance_df = pd.DataFrame({
    "State": states,
    "Employer (%)": employer,
    "Non-Group (%)": nongrp,
    "Medicaid (%)": medicaid,
    "Medicare (%)": medicare,
    "Military (%)": military,
    "Total Insured (%)": insured,
    "Uninsured (%)": uninsured,
})
insurance_df

,State,Employer (%),Non-Group (%),Medicaid (%),Medicare (%),Military (%),Total Insured (%),Uninsured (%)
0,Alabama,47.2,5.5,19.5,16.0,2.1,90.3,9.7
1,Alaska,48.4,3.5,21.3,10.0,5.3,88.5,11.5
2,Arizona,45.1,5.2,21.0,16.1,1.5,88.9,11.1
3,Arkansas,42.0,5.4,26.2,15.9,1.4,90.9,9.1
4,California,48.0,6.6,25.3,11.4,0.9,92.2,7.8
5,Colorado,53.4,6.9,16.8,12.8,2.3,92.2,7.8
6,Connecticut,52.9,4.8,21.5,14.1,0.7,94.1,5.9
7,Delaware,49.7,4.1,20.4,17.3,1.8,93.4,6.6
8,Florida,40.3,9.5,17.4,18.0,1.7,86.9,13.1
9,Georgia,48.9,5.6,17.3,12.6,2.2,86.6,13.4
10,Hawaii,54.3,4.1,17.6,15.9,4.0,95.9,4.1
11,Idaho,49.0,8.6,15.6,15.0,1.4,89.5,10.5
12,Illinois,54.6,5.2,18.2,14.1,0.7,92.7,7.3
13,Indiana,53.3,4.4,17.7,14.8,1.0,91.2,8.8
14,Iowa,54.4,4.9,19.5,15.6,0.9,95.3,4.7
15,Kansas,54.3,5.6,13.9,15.0,2.0,90.8,9.2
16,Kentucky,47.0,3.9,25.5,15.8,1.4,93.6,6.4
17,Louisiana,41.8,4.9,29.3,13.7,1.4,91.1,8.9
18,Maine,46.5,5.7,20.0,18.3,1.5,91.9,8.1
19,Maryland,54.7,5.4,18.7,13.3,1.9,94.1,5.9
20,Massachusetts,55.9,5.4,22.1,13.1,0.5,97.0,3.0
21,Michigan,50.9,5.2,21.7,15.9,0.6,94.2,5.8
22,Minnesota,57.8,5.2,16.9,14.7,0.7,95.2,4.8
23,Mississippi,42.2,4.7,24.2,14.2,1.8,87.1,12.9
24,Missouri,52.0,5.7,14.4,16.4,1.3,89.9,10.1
25,Montana,43.0,8.0,20.8,18.1,1.8,91.7,8.3
26,Nebraska,56.8,6.9,12.6,14.2,1.6,92.1,7.9
27,Nevada,49.5,5.5,17.8,14.0,1.7,88.5,11.5
28,New Hampshire,56.2,5.3,13.2,17.7,1.2,93.6,6.4
29,New Jersey,55.7,5.4,16.6,13.8,0.5,92.1,7.9
30,New Mexico,36.6,4.0,32.7,15.0,1.8,90.2,9.8
31,New York,49.8,5.8,25.7,13.0,0.4,94.7,5.3
32,North Carolina,46.3,6.7,17.9,15.3,2.4,88.6,11.4
33,North Dakota,55.7,9.0,12.2,13.8,2.1,92.6,7.4
34,Ohio,52.6,4.0,20.0,15.9,0.8,93.3,6.7
35,Oklahoma,45.5,5.5,17.0,15.1,2.0,85.1,14.9
36,Oregon,49.3,5.7,20.8,16.2,0.9,92.9,7.1
37,Pennsylvania,51.8,5.1,20.2,16.3,0.8,94.3,5.7
38,Rhode Island,54.0,5.9,20.5,14.6,0.8,95.7,4.3
39,South Carolina,45.4,6.1,18.8,16.8,2.2,89.2,10.8
40,South Dakota,51.5,8.3,12.8,16.1,1.8,90.4,9.6
41,Tennessee,47.8,5.6,19.5,15.0,1.8,89.8,10.2
42,Texas,47.6,5.7,15.9,10.9,1.6,81.6,18.4
43,Utah,60.5,9.3,9.3,10.0,1.2,90.4,9.6
44,Vermont,48.4,4.8,23.9,17.5,1.0,95.6,4.4
45,Virginia,54.1,5.2,13.5,14.8,4.4,92.0,8.0
46,Washington,52.9,5.0,19.8,13.9,1.8,93.4,6.6
47,West Virginia,44.0,2.5,26.6,19.0,1.3,93.4,6.6
48,Wisconsin,56.5,5.3,16.1,15.5,0.8,94.2,5.8
49,Wyoming,51.1,7.1,11.5,16.2,1.8,87.7,12.3